flask==2.2.5
gunicorn
tensorflow==2.11.0
deepface==0.0.79
opencv-python-headless==4.5.5.64
torch==2.0.1
joblib
transformers
firebase-admin
google-api-python-client
httplib2
google-auth
google-auth-httplib2
google-auth-oauthlib
