flask==2.3.3
scikit-learn==1.5.2
joblib==1.4.2
deepface==0.0.93
opencv-python-headless==4.10.0.84
transformers==4.46.0
torch==2.7.1
google-api-python-client==2.149.0
httplib2==0.22.0
requests==2.32.3
gunicorn==23.0.0
flask-cors==4.0.1
firebase-admin==6.5.0