commands:
  01_install_torch:
    command: "/var/app/venv/*/bin/pip install torch==2.7.1 --index-url https://download.pytorch.org/whl/cpu"
  02_install_deepface:
    command: "/var/app/venv/*/bin/pip install deepface==0.0.93"
option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: application:application
